.button {
  font-size: 10px;
  border: none;
  color: var(--color-border);
  font: inherit;
  line-height: 1;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-text-dark-mute);
  box-shadow: 0 0 0 2px transparent;
  backface-visibility: hidden;
}

.button:active,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(-color-active-highlight);
}
