/* Layout */
.page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-background);
  display: flex;
}

.page aside {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  position: relative;
}

.spacer {
  flex: 1;
}

/* Editor and Preview */
.editorWindow {
  flex: 1;
  border: 3px solid var(--color-border);
  border-radius: 4px;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  justify-content: center;
}
