.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 12px;
}

.header .tagline {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-active);
}

.header .description {
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-text-dark-mute);
  margin-top: 30px;
  max-width: 420px;
}

.header h1 {
  margin: 18px 0 0;
  font-size: 44px;
  line-height: 44px;
  color: var(--color-text-dark);
  font-weight: 500;
}
