.preview {
  background-color: var(--color-white);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.16);
  border-radius: 4px;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.preview .title {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-dark-mute);
  padding: 0 20px;
  line-height: 40px;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview .title > div > span:last-of-type {
  font-size: 12px;
  font-weight: 500;
}

.preview .content {
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-text-dark);
  white-space: pre-wrap;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  padding: 20px;
  height: 25rem;
  overflow: auto;
  flex: 1;
}

.editorWrapper {
  flex: 1;
}
